.card-bg {
  background: linear-gradient(45deg, rgb(195, 219, 207), hsl(160, 2%, 33%));
}
.card-bg:hover {
  background: linear-gradient(45deg, rgb(197, 212, 205), hsl(164, 49%, 74%));
}

.button-bg {
  background: linear-gradient(45deg, #d0d6d4, hsl(6, 85%, 24%));
  color: black;
  border: none;
}
.button-bg:hover {
  background: linear-gradient(45deg, #8e9b97, hsl(6, 58%, 31%));
  padding: 25px 30px;
}
