.card-bg {
  background: linear-gradient(45deg, rgb(195, 219, 207), hsl(160, 2%, 33%));
}
.card-bg:hover {
  background: linear-gradient(45deg, rgb(197, 212, 205), hsl(164, 49%, 74%));
}

.button-bg {
  background: linear-gradient(45deg, #f7075b, hsl(0, 91%, 32%));
  color: black;
  border: none;
}
.button-bg:hover {
  background: linear-gradient(45deg, #ae5151, hsl(339, 83%, 50%));
  color: black;
}
