.verify-bg {
  background: linear-gradient(45deg, #04f186, hsl(127, 50%, 68%));
  border: none;
  border-radius: 20px;
}
.delete-bg {
  background: linear-gradient(45deg, #2cce5d, hsl(126, 49%, 65%));
  border: none;
  border-radius: 20px;
}
